main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .form-container {
    width: 35rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(155, 155, 155, 0.5);
    form {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding-inline: 1rem;
      padding-block: 1rem;
      input,
      button {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      button {
        background-color: #f93939;
        color: white;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: #f83426;
        }
      }
    }
    .toggleauthform {
    color: #db3f3f;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  }

  
}
