nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 1rem;
    width: 100%;
    button{
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
    }   
}